.loading * {
  transition: none !important;
}

body {
  font-family: Verdana, sans-serif;
  color: #0f0f0f;
  background-color: #f1f1f1;
  background-image: url("gradients/home.png");
  background-size: cover;
  background-position: center;
  margin: 0;
}

/* .button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:  0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.04);
}

.button:active {
  background-color: #00438c;
  transform: scale(1.08);
  transition: 0.1s ease;
} */

.compare {
  border-radius: 10px;
  width: 70%;
  color: #f1f1f1;
}

.compare th, td {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
  font-size: 85%;
  cursor: default;
  width: 25%;
  transition: 0.3s ease;
}

.compare span {
  background-color: #757575;
  color: #ffffff;
  display: inline-block;
  border-radius: 20px;
  padding: 7px;
}

.compare th:hover, td:hover {
  transform: scale(1.2);
}

.compare tr {
  background-color: #85858500;
  border-radius: 20px;
  display: flex;
  width: 100%;
  transform: scale(1.0);
  transition: 0.3s ease;
}

.compare tr:hover {
  background-color: #85858580;
  transform: scale(1.075);
}

.navbar .godot:hover {
  background-color: #5ba9e7 !important;
  color: #050a0e !important;
}
.compare .godot, body.godot {
  /* background-image: linear-gradient(135deg, #5ba9e7, #2e6b9a); */
  color: #cde2f3;
  background-color: #5ba9e7;
  background-image: url("gradients/godot.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.navbar .ursina:hover {
  background-color: #775fff !important;
  color: #05050d !important;
}
.compare .ursina, body.ursina {
  /* background-image: linear-gradient(135deg, #40add8, #8859a7); */
  color: #cfdbf3;
  background-color: #40add8;
  background-image: url("gradients/ursina.png");
  background-size: cover;
  background-position: center;
}

.navbar .gamemaker:hover {
  background-color: #97da57 !important;
  color: #060c02 !important;
}
.compare .gamemaker, body.gamemaker {
  /* background-image: linear-gradient(135deg, #97da57, #5d9726); */
  color: #e0f1cd;
  background-color: #97da57;
  background-image: url("gradients/gamemaker.png");
  background-size: cover;
  background-position: center;
}

.title {
  margin: 80px;
  margin-top: 90px;
}

.title .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.title span {
  transform: scale(1);
  display: inline-block;
  padding: 4px;
  margin: -4px;
  border-radius: 20px;
  cursor: default;
  transition: 0.3s ease;
}
.title span:hover {
  transform: scale(1.05);
}

.title.godot span {
  background-color: #2e6b9a00;
}
.title.godot span:hover {
  background-color: #2e6b9a;
}
.title.godot .logo {
  background-color: #5ba9e7;
}
.title.godot .logo:hover {
  background-color: #2e6b9a;
}

.title.ursina span {
  background-color: #7459a700;
}
.title.ursina span:hover {
  background-color: #7459a7;
}
.title.ursina .logo {
  background-color: #43bbeb;
}
.title.ursina .logo:hover {
  background-color: #7459a7;
}

.title.gamemaker span {
  background-color: #5d972600;
}
.title.gamemaker span:hover {
  background-color: #5d9726;
}
.title.gamemaker .logo {
  background-color: #a3e069;
}
.title.gamemaker .logo:hover {
  background-color: #5d9726;
}

.title h1 {
  font-size: 250%;
}

.title .logo {
  transform: scale(1);
  display: inline-block;
  padding: 8px;
  margin: -8px;
  border-radius: 20px;
  cursor: default;
  transition: 0.3s ease;
}
.title .logo:hover {
  transform: scale(1.1);
}

.title .logo img {
  height: 220px;
  aspect-ratio: 1/1;
}

.info {
  margin-top: 10px;
  margin-bottom: 60px;
}

.info div {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.info dt {
  font-weight: bold;
  font-size: larger;
}

.info dd {
  margin: 0;
  margin-left: 6px;
}

.analysis {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.analysis a {
  color: inherit;
  transition: 0.3s ease;
}
.analysis a:hover {
  color: #ff5858;
}

.analysis dt {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  margin: 0;
}

.analysis dd {
  margin: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.bottom {
  display: grid;
  grid-template-columns: 50% 50%;
}

.bottom > div {
  text-align: center;
}

.bottom > div p {
  padding-left: 15%;
  padding-right: 15%;
}

.bottom > div iframe {
  width: 80%;
}

.bottom > div img {
  width: 80%;
  border-radius: 10px;
  transform: scale(1.0);
  transition: 0.3s ease;
}

.bottom > div img:hover {
  transform: scale(1.05);
}

.center {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 80px;
  height: 200vh;
}

.navbar {
  display: flex;
  background-color: #333;
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100vw;
  z-index: 1;
  transition: 0.3s ease;
}

.navbar .button:nth-last-child(2) {
  border-bottom-right-radius: 20px;
}

.navbar .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-top: 0;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  background-color: #4b4b4b;
  color: #dfdfdf;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar .button span {
  display: inline-block;
  position: relative;
  transform: scale(0.9);
  transition: 0.3s ease;
}

.navbar .button:hover span {
  transform: scale(1.0);
}

.navbar .button span:after {
  content: '⌵';
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 14px;
  transition: 0.3s ease;
}

.navbar .button:hover {
  padding-top: 12px;
  padding-bottom: 28px;
  background-color: #dadada;
  transform: scale(1.0);
  color: #000000;
}

.navbar .button:hover span:after {
  opacity: 1;
  top: 13px;
}

.top {
  top: -60px;
}

#navbutton {
  position: relative;
  top: 0;
  --rot: -90deg;
  transform: rotate(var(--rot)) scale(0.9);
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: block;
  padding-bottom: 20px;
  font-size: 45px;
  margin-left: auto;
  color: #dadada;
  transition: 0.3s ease;
}

#navbutton:hover {
  transform: rotate(var(--rot)) scale(1.1);
}

.top #navbutton {
  top: 60px;
  --rot: 90deg;
  color: #000000;
}